<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Booking</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>controller.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>controller.CartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Checkout</servlet-name>
    <servlet-class>controller.Checkout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CategoryManager</servlet-name>
    <servlet-class>controller.CategoryManager</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProductManager</servlet-name>
    <servlet-class>controller.ProductManager</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BillServlet</servlet-name>
    <servlet-class>controller.BillServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BillManager</servlet-name>
    <servlet-class>controller.BillManager</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchProduct</servlet-name>
    <servlet-class>controller.SearchProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/addCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Checkout</servlet-name>
    <url-pattern>/checkout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CategoryManager</servlet-name>
    <url-pattern>/managerCategory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductManager</servlet-name>
    <url-pattern>/managerProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BillServlet</servlet-name>
    <url-pattern>/huy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BillManager</servlet-name>
    <url-pattern>/managerBill</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchProduct</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
</web-app>